body {
    background-color: #ffffff;
    text-align: center;
    margin: 0px;
    text-align: center;
    font-family: "bold";
    overflow: hidden;
}
.bars {
    display: inline-block;
    width: 100vw;
    height: 500px;
    vertical-align: top;
    padding: 0px;
}
#color1, #color2, #color3, #color4, #color5 {
    float: left;
    width: 20vw;
    height: 100vh;
}
.container {
    width: 100%;
}
h1 {
    color: white;
    margin-top: 90%;
}
#genNew {
    font-family: "bold";
    letter-spacing: 1px;
    font-size: 20px;
    display: inline-block;
    width: calc(40vw - 40px);
    height: 70px;
    background-color: #0066ff;
    border: none;
    border-radius: 5px;
    color: white;
    margin: 10px;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
}
#genNew:hover {
    background-color: #0059df;
}
p {
    font-size: 25px;
    text-align: left;
    font-family: "basic";
    display: inline-block;
    text-align: left;
    margin-left: 20px;
    width: calc(60vw - 10px);
}
