body {
    margin: 0;
    overflow: hidden;
}
@font-face {
    font-family: "bold";
    src: url(/font/Inter-Bold.ttf);
}
@font-face {
    font-family: "basic";
    src: url(/font/Inter-SemiBold.ttf);
}
h2 {
    font-size: 40px;
    font-family: "bold";
    margin: 0px;
    text-align: center;
    padding: 12px;
    width: calc(100vw - 110px);
    display: inline-block;
    vertical-align: top;
}
.nav {
    width: 100%;
    height: 80px;
    margin: 0;
    padding: 0;
    border: none;
    color: white;
    border-radius: 0px;
    background-color: rgb(0, 0, 0);
}
.logo {
    margin: 4px;
    z-index: 1;
    max-height: 70px;
    display: inline-block;
    cursor: pointer;
}
.container{
    height: 85vh;
    width: 100%;
}
#display{
    width: 100%;
    font-size: 15vw;
    letter-spacing: 10px;
    text-align: center;
    margin-top: 100px;
    font-family: Consolas;
}
.buttons {
    text-align: center;
    padding: 20px;
}
button {
    font-family: "bold";
    font-size: 15px;
    display: inline-block;
    width: 20%;
    height: 70px;
    font-size: 25px;
    background-color: #000000;
    border: none;
    border-radius: 20px;
    color: white;
    transition: 0.2s ease-in-out;
    margin: 15px;
}
button:hover {
    background-color: #0a0a0a;
}
    